@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    background: var(--bg);
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background: var(--grey);
    }
}

#root {
    height: 100%;
}

span,
p {
    font-family: "Noto Sans", sans-serif;
}

ul,
ol {
    list-style-type: none;
}

img {
    user-select: none;
}
