:root {
    --bg: #f8fafd;
    --secondary-bg: #ffffff;
    --text-color: #000000;
    --text-secondary-color: #222531;
    --color: #757881;
    --blue: #0d75ff;
    --white-blue: #0d75ff0d;
    --yellow: #ffd80d;
    --grey: #75828a;
    --white-grey: #919eab;
    --dark-grey: #a6b0c3;
    --border: #e3e6eb;
}


